/.vs/*
/Deploy/graphs/*
/Deploy/Instance/*.json
/Deploy/Solution/*
!/Deploy/Solution/readme.md
/Deploy/Simulator.exe
/Deploy/Solver.exe
/Deploy/log.csv
/Doc/*
/Lib/gurobi/*
/Lib/protobuf/*
/Simulator/x64/*
/Solver/x64/*
/x64/*
